
.container {
  padding-left: 150px;
  padding-right: 150px;
  justify-content: center;
  position: relative;
}

.text1 {
    text-align: center;
    font-family: "BrittanySignature";
    font-size: 45px;
    color: #7f6b61;
    margin-top: 30px;
  }

  .text1 a:hover {
    color: white;
  }

  .text1 a:link {
    color: #7f6b61;
  }

  .text1 a:active {
    color: #7f6b61;
  }

  .text1 a:visited {
    background-color: #c8a99a;
  }


.text2 {
    text-align: center;
    font-family: 'Josefin Sans';
    font-size: 24px;
    color: #7f6b61;
    margin-top: 30px;
  }