
.header {
  display: flex;
  width: 75%;
  height: 150px;
  margin: auto;
  border-radius: 10px;
  border: 3px dashed #5a1559;
  align-items:center;
  justify-content:center;
  position: sticky;
  top: 0;
  font-family: "quiverleaf-cf", sans-serif;
  }

  .h1 {
    text-align: center;
    font-family: "quiverleaf-cf", sans-serif;
    font-size: 55px;
    font-weight: lighter;
  }
