
.container {
  padding-left: 150px;
  padding-right: 150px;
  justify-content: center;
  position: relative;
}


.home1 {
    text-align: center;
    font-family: 'BrittanySignature';
    font-weight: lighter;
    font-size: 105px;
    color: #ffffff;
    list-style-type: none;
    line-height: 2;
    margin-top: 30px;
  }

  .home2 {
    font-family: "josefin-sans";
    text-align: center;
    font-size: 24px;
    line-height: 1.5;
    color: #ffffff;
  
  }

  .hero3 {
    margin-top: 65px;
    text-align: center;
    font-family: "josefin-sans";
    font-size: 24px;
    line-height: 1.5;
    color: #ffffff;
  }
