
.nav {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 28px;
  font-family: 'Grandslang roman', sans-serif;
  font-size: 18px;
  position: sticky;
  top: 0;
  background-color: #ece7e1;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  }


.nav-bar {
  font-family: 'Grandslang roman', sans-serif;
  list-style-type: none;
  margin: 0;
  float: left;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  position: sticky;
  top: 0;
  align-items:center;
  color: #9c8772;
}

.nav-item {
  font-family: 'Grandslang roman', sans-serif;
  text-decoration: none;
  display: inline;
  padding: 1em;
  color: rgb(23, 17, 17);
  text-decoration: none;
  font-size: 14px;
  color: #7f6b61;
  background-color: #ece7e1;
  font-weight: lighter;
  z-index:99;

}

.nav-link {
  text-align: center;
  font-family: 'Grandslang roman', sans-serif;
}

.nav-items:hover {
  opacity: 100%;
  color: #ffffff;
  cursor:grab;

}


.navigation a:hover {
  background: #727477;
}