/* Default styles */
.container {
  width: 100%;
}

/* Media query for screens larger than 768px */
@media (min-width: 768px) {
  .container {
    max-width: 960px;
    margin: 0 auto;
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box {
  width: 200px;
  height: 200px;
  background-color: lightblue;
  margin: 10px;
}


.App{
  padding: 0px;
  height: 100%;
  font-family: 'Josefin Sans';
  font-weight: lighter;
  font-size: 15px;
  color: #9c8772;
  text-align: center;
  width: 100%;

}

.Home {
  padding: 80px;
  height: 650px;
  background-color: #c8a99a;
  color:#ffffff;
}

.Accomodation {
  padding: 80px;
  height: 650px;
  background-color: #ece7e1;
}

.Gettingthere {
  padding: 80px;
  height: 650px;
  background-color: #c8a99a;
  color:#ece7e1;
}

.Abouttheday {
  padding: 80px;
  height: 650px;
  background-color: #ece7e1;
  color: #1a1919;
}

.RSVP {
  padding: 0px;
  height: 2050px;
  background-color: #c8a99a;
  color:#ece7e1;
  text-align: center;
  font-family: 'Grandslang roman', sans-serif;
}

.footer {
  padding: 0px;
  height: 75px;
  background-color: #ece7e1;
  color: #c8a99a;
  text-align: center;
  font-family: 'Grandslang roman', sans-serif;
  font-weight: lighter;
  font-size: 20px;
}